<script defer src="/js/login.js"></script>

<form class="loginForm">
  <input type="text" name="name" required placeholder="Enter name">
  <input type="password" name="password" required placeholder="Enter password">
  <button type="submit">КЛАЦ!</button>
</form>
