<div class="container">
  <div class="content-container">
    <form name="forma" class="form">
      <br>
      <br>
      <input class="input" name="pokemon" type="text">
      <div class="someJoke"></div>
      <br>
      <div class="imgDiv" style="height: 450px; width: 450px;"></div>
      <ul class="parameters">
        <b>Высота</b>
        <li class="heightLi"></li>
        <b>Вес</b>
        <li class="weightLi"></li>
      </ul>
      <ul class="abilities">
        <h3>Способности:</h3>
        <li class="abilities1"></li>
        <b class="abilitiesInfo1"></b>
        <li class="abilities2"></li>
        <b class="abilitiesInfo2"></b>
      </ul>
      <button class="botton" type="submit">КНОПКА!</button>
    </form>
  </div>
</div>
<div class="catImg" style="height: 100%; width: 100%;">
  <img class="cat" src="" alt="">
</div>

