<script defer src="/js/registration.js"></script>

<form class="registrationForm">
  <input type="text" name="name" required placeholder="Enter name">
  <input type="password" name="password" required placeholder="Enter password">
  <input type="email" name="email" required placeholder="Enter email">
  <button type="submit">КЛАЦ!</button>
</form>
